<section id="SpecterTestWrapper">

  <div>
    <%= raw @test.input %>
  </div>

  <div>
    <%= raw @test.expected %>
  </div>
</section>


<%= javascript_include_tag 'specter', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<script>
  <%= raw @test.test %>
</script>

<%= javascript_include_tag 'exec', 'data-turbolinks-track' => true %>
