<!DOCTYPE html>
<html>
<head>
  <title>Specter Test Application</title>
  <%= stylesheet_link_tag 'specter', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <header>
    <div>
      <h1><%= link_to 'Specter', root_path %></h1>
    </div>
    <%= yield :testrun %>
  </header>

  <%= yield %>

  <%= javascript_include_tag 'runner', 'data-turbolinks-track' => true %>
</body>
</html>


